<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456758447644-ashucu1n600ql2b4rfodfdjhppd5j56d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456758447644-ashucu1n600ql2b4rfodfdjhppd5j56d</string>
	<key>API_KEY</key>
	<string>AIzaSyDibaUklLoiykvYnX7bLe01ESo25CoRZhE</string>
	<key>GCM_SENDER_ID</key>
	<string>456758447644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilhewl.music</string>
	<key>PROJECT_ID</key>
	<string>ilhewl</string>
	<key>STORAGE_BUCKET</key>
	<string>ilhewl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456758447644:ios:c67150c5eb91c0b5a159d9</string>
</dict>
</plist>